<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sw_engineering">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWengineering">
        <activity android:name=".user.UserFindIdPassword" />
        <activity android:name=".common.ComWithdrawal" />
        <activity android:name=".common.ComInfoApp" />
        <activity android:name=".common.ComMessageDetails" />
        <activity android:name=".common.ComMessageRoomList" />
        <activity android:name=".common.ComUserInfoMod" />
        <activity android:name=".common.ComSetting" />
        <activity android:name=".customer.cusReserveList"/>
        <activity android:name=".customer.cusHome"/>
        <activity android:name=".customer.cusSearch"/>
        <activity android:name=".customer.cusCampDetail"/>
        <activity android:name=".customer.cusBookCamp"/>
        <activity android:name=".owner.ownBookDetail"/>
        <activity android:name=".owner.ownBookManage"/>
        <activity android:name=".owner.ownCampEdit"/>
        <activity android:name=".owner.ownCreateCamping"/>
        <activity android:name=".owner.ownHome"/>
        <activity android:name=".user.UserCreateUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>